*{
    margin: 0;
    padding: 0;box-sizing: border-box;
   
}

body{
    /* height: 450px ;
    width: 500px; */
    overflow: scroll;
    background-color: rgb(0, 0, 0) ;
}

#ghar{
    height: 36px;
    width: 36px;
}

#airdrop{
    height: 36px;
    width: 36px;
}

#yt{
    height: 38px;
    width: 52px;
}

#ic{
    height: 36px;
    width: 36px;
    /* overflow: hidden; */
    cursor: pointer;
    /* mix-blend-mode: multiply; */
}

#tg{
    /* overflow: hidden; */
    height: 36px;
    border-radius: 4px;
    width: 250px;
     margin-left: 4px;
     display: none;
}

#ic:hover + #tg{
    display: inline;
    transition: all 0.9s ease-in;
}

nav ul{
    color: #000000;
    display: flex;
    justify-content: space-between;
    margin: 0px 25px 25px 45px;
    width: 94%;
    background-color: rgb(255, 255, 255);
    border-radius: 5px;
    position: fixed;
    border: 2px solid rgb(10, 112, 254);
    z-index:1;
}
 
nav ul li{
    list-style: none;
    font-size: 24px;
    height: 36px;
    /* width: 90px; */
    /* background-color: rgb(127, 193, 168); */
    border-radius: 5px;
    margin: 10px 15px;
    overflow: hidden;
    cursor: pointer;
}

.container{
    display: flex;
    flex-direction: row;
    height: 90%;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.container ul{
    margin-top: 66px;
    color: azure;
    height: 100%;
    width: 100%;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    overflow: hidden;
}

.container ul li{
    list-style: none;
    /* background-color: #d01010; */
    background: rgb(255, 255, 255);
background: linear-gradient( #139feb 27%, rgb(25, 12, 205) 100%);
    color: rgb(0, 0, 0);
    font-size: 25px;
    font-weight: 600;
    margin: 9px 0px 4px 0px;
    height: 46px;
    width: 94%;
    border-radius: 5px;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: space-between;
    overflow: hidden;
}

.container ul li a{
    text-decoration: none;
    color: rgb(7, 0, 0);
    /* background-color: green; */
    /* margin-left: 5px; */
}

.btn{
   color: rgb(58, 58, 58);
   height: 29px;
    width: 96px;
    margin-right: 10px;
    font-weight: 600;
    font-size: 24px;
    background-color: rgb(237, 244, 244);
    border: none;
    border-radius: 4px;
    cursor: pointer;
    
}

footer{
    color: rgb(255, 253, 253);
    text-align: center;
}

@media screen and (max-width: 760px) {
       nav ul{

        width: 83%
       }
}
